body{
font-family: Arial;
background:#f1f3f6;
}

.products{
display:flex;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
margin:10px;
border-radius:8px;
width:200px;
text-align:center;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

button{
background:#2874f0;
color:white;
border:none;
padding:8px;
cursor:pointer;
}